# Image dirs
dev/data/openimage_source_images/input/train_0
dev/data/openimage_source_images/input/train_1
dev/data/openimage_source_images/output
dev/data/openimage_source_images/input

# Resources maps and csv
dev/data/open-image-mapping-resources/source-info/train-images-boxable-with-rotation.csv
dev/data/open-image-mapping-resources/source-info/dataset_with_local_source_image_path.csv
dev/data/open-image-mapping-resources/source-info/sft_with_local_source_image_path.jsonl
dev/data/open-image-mapping-resources/source-info/sft.jsonl
dev/data/open-image-mapping-resources/source-info/preference.jsonl
dev/data/open-image-mapping-resources/source-info/dataset_with_local_source_image_path.csv

# Local maps
dev/data/open-image-mapping-resources/source-info/filtered_dataset_IO_local.csv
dev/data/open-image-mapping-resources/source-info/filtered_sft_with_local_source_image_path.csv

# Model serialized Objects and model checkpoints
dev/src/model/ModelCheckpoints
dev/src/model/SerializedObjects
dev/src/model/TrainingLogs

# General files
*.zip
*.vscode
__pycache__/
*.jsonl
*.zip
*.tar
*.tar.gz
