# Image dirs
dev/data/openimage_source_images/input/train_0
dev/data/openimage_source_images/input/train_1
dev/data/openimage_source_images/output
dev/data/openimage_source_images/input
dev/data/openimage_source_images/*
dev/data/celeba/img_align_celeba

# Resources maps and csv
dev/data/open-image-mapping-resources/source-info/train-images-boxable-with-rotation.csv
dev/data/open-image-mapping-resources/source-info/dataset_with_local_source_image_path.csv
dev/data/open-image-mapping-resources/source-info/sft_with_local_source_image_path.jsonl
dev/data/open-image-mapping-resources/source-info/sft.jsonl
dev/data/open-image-mapping-resources/source-info/preference.jsonl
dev/data/open-image-mapping-resources/source-info/dataset_with_local_source_image_path.csv

# Local maps
dev/data/open-image-mapping-resources/source-info/filtered_dataset_IO_local.csv
dev/data/open-image-mapping-resources/source-info/filtered_sft_with_local_source_image_path.csv

# Model serialized Objects and model checkpoints
dev/src/model/ModelCheckpoints
dev/src/model/SerializedObjects
dev/src/model/
#dev/src/DDPM_UI_FullStack/backend/model/SerializedObjects/*

# General files
*.zip
*.vscode
__pycache__/
*.jsonl
*.zip
*.tar
*.tar.gz
*.csv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/

# PyTorch models
*.pt
*.ckpt

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build outputs
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

